body {
	background: #bfbfbf;
}

.output {
	width: 30%;
	height: 300px;
	background-color: #808080;
}

.inputsliders {
	width:1000px;
}

.slider {
	position:absolute;
	width: 20%;
	left: 10%;
  background: #0000FF;
}
#redout {
	position:absolute;
	left: 35%;
}
#blueout {
	position:absolute;
	left: 35%;

}
#greenout {
	position:absolute;
	left: 35%;

}
.answerbox {
	width: 30%;
	height: 300px;
	background-color: #808080;
	visibility: hidden;
}

#red {
	fill: red;
}

#green {
	fill: green;
}

#blue {
	fill: blue;
}
