*
{
text-align: center;
margin: auto !important;
}

body {
	background: #eeebe1;
}

.output {
	width: 30%;
	height: 300px;
	background-color: #808080;
}

.inputsliders {
	text-align: left;
	width:30%;
	left:35%;
}

.slider {
	position:absolute;
  background: #0000FF;
	left:40%;
	width:20%;
}
#redout {
	position:absolute;
	left:63%;
}
#blueout {
	position:absolute;
	left:63%;
}
#greenout {
	position:absolute;
	left:63%;
}
.answerbox {
	width: 30%;
	height: 300px;
	background-color: #808080;
	visibility: hidden;
}

#red {
	fill: red;
}

#green {
	fill: green;
}

#blue {
	fill: blue;
}
.button {
	display: block;
	width: 30%;
	height: 50px;
}
